body {
    background-color: rgb(125, 185, 232);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -200px;
    color: hsl(271, 65%, 57%);
}

.conditional{
    margin-top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(271, 65%, 57%);
}

.form{
    background: white;
    margin-left: 1%;
    margin-top: -65px;
    width: 23%;
    border-radius: 15px;
    font-weight: bold;
}

.form_fields{
    text-align: center;
    font-size: 1.3em;

}

.draw{
    width: 70%;
    height: 550px;
    border: 5px dashed rgb(197, 193, 193) ;
    
}

/* #plus{
    width:25px;
    height: 20px;
    border-radius: 10px;
    font-size: medium;
    font-weight: bold;

} */

.cont{
    width: 300px;
    height: 40px;
    padding-top: 10px;
}

.button_style{
    width: 100%;
    height: 40px;
    background: white;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-bottom: 2px solid rgb(224, 217, 217);
    margin-top: -15px;
    margin-left: 8px;
    text-align: left;
    padding-top: 17px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button_style:hover {
    background-color:rgb(125, 185, 232);
    color: white;
    
  }

.all-field {
    margin: 10px;
    padding: 5px;
}
.fiels-div {
    margin: 10px;
    background-color: white;
    width: 90%;
    border: solid 1px black;
    border-radius: 10px;
}